/**!
 * [页面名称]
 * author: [作者];
 */
 
 
/*clique的外套*/
.clique-hd-main {
    position: absolute;
    top: 10px;
    right: 160px;
    background-color: #fff;
    z-index: 999;
}

.clique-hd2 {
    position: relative;
}

.clique-close {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(../images/close-coin.png)  no-repeat;
}

.clique-hd-body {
    margin: 0 12px 0 20px;
    padding: 18px 0;
}

/*clique 活动的标题*/
.clique-hd-title span{
    float: left;
    margin-right: 12px;
    font-size: 18px;
    font-weight: bold;
}

.clique-fengge{
    height: 18px;
    width: 480px;
    margin-left: 165px;
    background: url(../images/clique-fengge.png) 0 10px repeat-x;
}

/*
 * 图片轮播样式 
 */

.news-img {
    position: relative;
    width: 660px;
    height: 285px;
    margin: 20px 0 20px 0;
}

.img-viewer {
   float: left;
    position: relative;
    overflow: hidden;
    width: 510px;
    height: 285px;
}

.img-viewer-cell {
    position: absolute;
    left: 0;
    right: 0;
    height: 285px;
}

.big-img-link {
    float: left;
    display: block;
    width: 510px;
    height: 285px;
}

.big-img-link img {
    width: 510px;
    height: 285px;
}
/* 大图说明文字 */

.img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 510px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.img-title:hover {
    color: #fff;
    text-decoration: underline;
}

.img-title-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 510px;
    height: 40px;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/* 小图 */

.img-bars {
    float: right;
    width: 145px;
    height: 249px;
    margin: 20px 0;
    overflow: hidden;
	position: relative;
}

.img-bars-content img {
    width: 125px;
    height: 75px;
    vertical-align: center;
}

.img-bars-content span {
    display: block;
    height: 75px;
    margin-left: 10px;
    margin-bottom: 8px;
    position: relative;
}

.img-bars-content .news-smalling-mask {
    position: absolute;
    left: -10px;
    top: 0;
    width: 125px;
    height: 75px;
    background-color: #000;
    opacity: 0.55;
    filter: alpha(opacity=55);
    cursor: pointer;
}

.img-bars-content span.cur-span .news-smalling-mask {
	opacity: 0;
	filter: alpha(opacity=0);
}


/* 上下点击按钮 */
.pre-img .arrow {
	position: absolute;
	top: 0px;
	right: 60px;
	height: 12px;
	width: 21px;
	background: url(../images/arrow-prenor.png) no-repeat;
}

.pre-img:hover .arrow {
	cursor: pointer;
	background: url(../images/arrow-prehov.png) no-repeat;
}

.next-img .arrow {
	position: absolute;
	bottom: 0px;
	right: 65px;
	height: 13px;
	width: 21px;
	background: url(../images/arrow-nextnor.png) no-repeat;
}

.next-img:hover .arrow {
	cursor: pointer;
	background: url(../images/arrow-nexthov.png) no-repeat;
}

/*clique 活动的信息介绍*/
.info-intro .section {
    margin-bottom: 10px;
}

.info-intro .left {
	float: left;
	color: #666;
	padding-left: 5px;
    width: 72px;
}

.info-intro .hd-details,
.info-intro .attach {
    width: 570px;
}

.attach-down {
	margin: 18px 0;
}

.attach a {
	color: #d6391c;
	text-decoration: underline;
	margin-right: 25px;
}
