@charset "utf-8";
/* CSS Document */


.form{padding-bottom:40px;margin-top: 35px;}
.form .row{margin-bottom: 30px;}
.l-txt{font-size: 16px;color:#333333;  vertical-align: top;margin-right: 10px;width: 65px;text-align: right;display: inline-block;}
.form .detail{width: 928px;height: 168px;border:1px solid #b3b3b3;resize:none;padding:5px;}

.btn-bg1{background: #ff7533;color:#fff;float: right;width: 86px;height: 30px;line-height: 30px;font-size: 14px;text-align: center;}

.box{width: 75px;height: 30px;border-radius:5px;border:2px solid #47abd5;font-size: 16px;color:#47abd5;line-height: 30px;    display: block;margin-right: 10px;text-align: center;cursor:pointer;margin-left: 5px;}
.box .box-radio{opacity:0;}
.box-select{background:#47abd5;color:#fff;}
.form-title{width: 928px;padding-left: 10px;border:1px solid #b3b3b3;height: 44px;line-height: 44px;}
.lh44{line-height: 44px;}
.lh30{line-height: 30px;}




.form .group{padding-left:20px;height: 30px;line-height:25px;margin-top: 10px;}
.form .form-radio{opacity:0;width: 16px;height: 16px;}
.form .input-group{margin-right: 25px;float: left;position:relative;cursor:pointer}
.form .input-group .circle{width: 17px;height: 17px;background:url(../images/icon_39.png) no-repeat 0 center;display: block;position:absolute; top: 5px;left: -1px; }
.selected{background:url(../images/icon_39.png) no-repeat -166px center!important;}


/***图片上传*/

.uploadImg{ width:945px; min-height:200px;float:right;position:relative;}
.uploadImg p{position:absolute;top:100px;left:0;z-index:-2}







.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	text-align: center;
	overflow: hidden;
	background:url(../images/upload.png) no-repeat center;
	width: 141px;height:91px;
}


.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}






.parentFileBox {
	width:auto;
	height:auto;
	overflow:hidden;
	position:relative;
}
.parentFileBox>.fileBoxUl {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:5px;
}
.parentFileBox>.fileBoxUl>li {
	border:1px solid #b3b3b3;
	float:left;
	width:170px;
	height:150px;
	margin-top:5px;
	margin-right:10px;
	overflow:hidden;
	position:relative;
background:#fff;
}
.parentFileBox>.fileBoxUl>li>.viewThumb {
	position:absolute;
	top:0;
	left:0;
	width:170px;
	height:150px;
	overflow:hidden;
}
.parentFileBox>.fileBoxUl>li>.viewThumb>img {
	width:100%;
	height:100%;
}
.parentFileBox>.fileBoxUl>li>.diyCancel,.parentFileBox>.fileBoxUl>li>.diySuccess {
	position:absolute;
	width:16px;
	height:16px;
	top:2px;
	right:0px;
	cursor:pointer;
	display:none;
}
.parentFileBox>.fileBoxUl>li>.diyCancel {
	background:url(../images/x_alt.png) no-repeat;
}
.parentFileBox>.fileBoxUl>li>.diySuccess {
	background:url(../images/check_alt.png) no-repeat;
	cursor:default;
}
.parentFileBox>.fileBoxUl>li>.diyFileName {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
	font-size:12px;
	display:none;
	background:url(../images/bgblack.png);
}
.parentFileBox>.fileBoxUl>li>.diyBar {
	top:0;
	left:0;
	position: absolute;
	width: 170px;
	height: 150px;
	line-height:150px;
	background:url(../images/bgblack.png);
	display:none;
}
.parentFileBox>.fileBoxUl>li>.diyBar>.diyProgressText {
	font-size:14px;
	text-align:center;
	color:#FFF;
	position:relative;
	z-index:99;
}
.parentFileBox>.fileBoxUl>li>.diyBar>.diyProgress {
	position:absolute;
	left:0;
	top:42%;
	height:24px;
	width:100%;
	background-color:#09F;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	z-index:97;
}
.parentFileBox>.diyButton {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	height:20px;
	line-height:20px;
	text-align:center;
}
.parentFileBox>.diyButton>a {
	padding:5px 10px 5px 10px;
	background-color:#09C;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	border-radius:3px;
}

.parentFileBox>.fileBoxUl>.diyUploadHover:hover .diyCancel {
	display:block;
}
.parentFileBox>.fileBoxUl>li:hover .diyFileName {
	display:block;
}
.avi_diy_bg,.txt_diy_bg,.doc_diy_bg,.zip_diy_bg,.csv_diy_bg,.xls_diy_bg,.mp3_diy_bg,.pdf_diy_bg,.rar_diy_bg {
	background-position:center;
	background-repeat:no-repeat;
}
