@charset "utf-8";

/* CSS Document */

body,
input,
h1,
h2,
h3,
p,
textarea,
table,
div {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}

img {
    border: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

textarea {
    resize: none
}

.auto {
    width: 1024px;
    margin: 0 auto;
}

body {
    background: #f7f7f7;
}

.top {
    width: 100%;
}

.top img {
    width: 100%;
}

.head {
    background: #fff;
}

.hd-t {
    height: 80px;
}

.search {
    width: 410px;
    height: 40px;
    border: 1px solid #47abd5;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 60px;
}

.search input {
    border: none;
    border-radius: 10px;
}

.search .sec {
    width: 330px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: #cccccc;
}

.submit {
    width: 70px;
    height: 40px;
    background: url(../images/icon_01.png) no-repeat center;
}

.infor {
    padding-top: 20px;
    position: relative;
}

.infor img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    float: left;
}

.infor span {
    height: 36px;
    line-height: 36px;
    display: block;
    padding-right: 10px;
    float: left;
    padding-left: 20px;
    font-size: 14px;
    color: #47abd5;
    margin-left: 10px;
    cursor: pointer;
}

.infor span.span1 {
    background: url(../images/icon_02.png) no-repeat right center;
    padding-left: 0!important;
}

.infor span.span2 {
    background: url(../images/icon_03.png) no-repeat left center;
    margin-left: 10px;
    border-right: 1px solid #d9d9d9;
}

.infor span.span3 {
    background: url(../images/icon_04.png) no-repeat left center;
    border-right: 1px solid #d9d9d9;
}

.infor span.span4 {
    background: url(../images/icon_05.png) no-repeat left center;
    border-right: 1px solid #d9d9d9;
}

.nav {
    background: url(../images/nav_bg.png) repeat-x center;
    border-top: 1px solid #d9d9d9;
    height: 46px;
    clear: both;
}

.nav a {
    display: block;
    width: 203px;
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 46px;
    float: left;
    border-left: 1px solid #d9d9d9;
}

.nav a:last-child {
    border-right: 1px solid #d9d9d9;
}

.nav-select {
    width: 100px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 999;
    background: #fff;
    display: none;
}

.nav-select span {
    background: url(../images/select_07.png) no-repeat top center;
    position: absolute;
    top: -5px;
    left: 25px;
}

.nav-select a {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 11px;
    color: #666;
}

.nav-select a img {
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

.nav-select a:hover {
    color: #47abd5
}

.infor span.span1:hover .nav-select {
    display: block;
}

.banner {
    position: relative;
}

.banner-float {
    width: 205px;
    height: 345px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    background: #f5f5f5;
}

.rili-top {
    background: #e5e5e5;
    height: 30px;
}

.rili-top span {
    font-size: 12px;
    color: #333;
    margin-left: 20px;
    line-height: 30px;
}

.rili-detail {
    background: url(../images/rili_bg.png) no-repeat bottom center;
    padding-bottom: 10px;
}

.rili-detail span {
    width: 81px;
    height: 75px;
    background: #ffbb00;
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 75px;
    border-radius: 10px;
    margin: 18px auto 0;
}

.rili-detail p {
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
    text-align: center;
}

.tianqi {
    padding: 0 10px;
}

.tianqi li {
    width: 90px;
    float: left;
    text-align: center;
    margin-top: 8px;
}

.tianqi li span {
    display: block;
    font-size: 12px;
    color: #808080;
}

.tianqi li b {
    font-size: 20px;
    color: #333333;
}

.section {
    width: 490px;
}

.section .tit {
    height: 60px;
    line-height: 60px;
    background: url(../images/rili_bg.png) repeat-x bottom center;
    margin-bottom: 10px;
}

.section .tit>a {
    color: #999;
    font-size: 12px;
    float: right;
}

.section .tit>a:hover {
    color: #47abd5;
}

.section .tit h1 {
    padding-left: 50px;
    color: #47abd5;
    font-size: 20px;
    font-weight: normal;
    float: left;
}

.news .tit h1 {
    background: url(../images/icon_06.png) no-repeat left center
}

.content .tab-nav {
    margin-bottom: 20px;
}

.content .tab-nav a {
    width: 90px;
    height: 30px;
    display: block;
    background: #ededed;
    color: #47abd5;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    line-height: 30px;
    float: left;
}

.tab-cur {
    color: #fff!important;
    background: #47abd5!important;
    border: 1px solid #47abd5!important;
}

.detail .detail-t .left {
    width: 158px;
    height: 126px;
    margin-left: 20px;
}

.detail .detail-t .right {
    width: 295px;
}

.detail .detail-t .right li {
    list-style: disc!important;
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
}

.detail .detail-t .right li a {
    font-size: 16px;
    color: #333;
}

.detail .detail-t .right p {
    font-size: 12px;
    color: #808080;
    line-height: 23px;
}

.detail-list {
    margin-left: 35px;
    margin-top: 25px;
}

.detail-list ul li {
    list-style: disc!important;
    color: #808080;
    font-size: 12px;
    margin-bottom: 13px;
}

.detail-list ul li a {
    color: #333333;
    font-size: 14px;
}

.detail-list ul li span {
    color: #808080;
    float: right;
    font-size: 14px;
}

.huodong .tit h1 {
    background: url(../images/icon_07.png) no-repeat left center
}

.right-list ul li {
    list-style: disc!important;
    color: #808080;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.right-list ul li a {
    font-size: 12px!important;
    color: #808080;
}

.shenghuo {
    margin-top: 10px;
}

.shenghuo .tit h1 {
    background: url(../images/icon_20.png) no-repeat left center
}

.shenghuo ul {
    background: url(../images/ul_bg.png) no-repeat center;
    margin-top: 20px;
}

.shenghuo ul li {
    text-align: center;
    width: 160px;
    height: 54px;
    line-height: 54px;
    float: left;
}

.shenghuo ul li a {
    font-size: 14px;
    color: #808080
}

.shenghuo ul li img {
    vertical-align: middle;
}

.bianmin {
    width: 100%;
}

.bianmin .tit h1 {
    background: url(../images/icon_14.png) no-repeat left center;
}

.bianmin li {
    display: table-cell;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.bianmin li a {
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    margin: 4px;
    float: left;
}

.bianmin li img {
    margin-top: 12px;
    margin-left: 12px;
}

.bianmin span {
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    padding-left: 15px;
    font-size: 12px;
    color: #808080;
    margin-top: 22px;
}

.bianmin-icon {
    width: 315px;
    float: left;
    margin: 0 10px 50px;
}

.footer {
    width: 100%;
    height: 104px;
    background: #e4e4e4;
    padding-top: 20px;
}

.footer p {
    font-size: 12px;
    color: #808080;
    text-align: center;
    margin-bottom: 7px;
}

.footer span {
    width: 124px;
    height: 20px;
    font-size: 16px;
    color: #fff;
    background: #b3b3b3;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.posr {
    position: relative;
}

.posr img {
    position: absolute;
    right: 0;
    top: 0
}

.weixin {
    width: 110px;
    height: 175px;
    position: fixed;
    top: 60%;
    right: 0;
}

.weixin span {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #808080;
    cursor: pointer;
}
