@charset "utf-8";
/* CSS Document */

/***新闻列表页****/
.news-banner img{width:1022px;}

.public-top{height: 50px;border-bottom:1px solid #d9d9d9;}
.public-h3{font-weight: normal;font-size: 20px;color:#47abd5;margin-right: 50px;}
.public-h3 img{  vertical-align: bottom;margin-right: 10px;}

.public-top .span1,.public-top .span2,.public-top .span3{font-size: 16px;color:#808080;margin-right: 15px;padding-left: 30px;display: block;margin-top: 10px;float: left;line-height: 25px;}
.span1{background:url(../images/icon_31.png) no-repeat 0 center;}
.span2{background:url(../images/icon_31.png) no-repeat -85px center;}
.span3{background:url(../images/icon_31.png) no-repeat -175px center;}
.public-top span.current{color:#47abd5;} 























ul.left-list{margin-top: 10px;width: 720px;margin-bottom: 25px;}
ul.left-list>li{width: 220px;height: 316px;background:#f2f2f2;color:#333;float: left;margin-right: 20px;margin-top: 10px;position:relative;}
ul.left-list>li img{width: 220px;height: 316px;}

ul.left-list>li .shade{width: 200px;height: 40px;position:absolute;bottom:0;z-index:22;padding-left: 10px;padding-right: 10px;}
ul.left-list>li .shade em{font-style:normal;float: right;}
ul.left-list>li a{font-size: 16px;line-height: 40px;color:#fff;}
ul.left-list>li .opa{height: 40px;background:#333;position:absolute;bottom:0;width: 220px;height: 40px;opacity:0.8;filter:alpha(opacity=80);left:0;}


ul.right-list{width: 270px;border:1px solid #d9d9d9;border-top:none;background:#f7f7f7;padding:0 15px;}
ul.right-list li{height: 55px;padding:20px 0 15px 0;border-bottom:1px solid #d9d9d9;}
ul.right-list li img{width: 54px;height: 54px;border:1px solid #d9d9d9;}
ul.right-list li p{font-size: 14px;margin-top: 5px;color:#333;}
ul.right-list li span{font-size: 12px;color:#333;}
ul.right-list li:last-child{border-bottom:none;}









