@charset "utf-8";
/* CSS Document */



.search-text{font-size: 20px;color:#47abd5;border-bottom:1px solid #d9d9d9;padding-bottom: 10px;}
.search-text img{width: 33px;height: 33px;  vertical-align: middle;margin-right: 5px;}


.news-list{margin-top: 15px;}
.news-list ul li{border-bottom:1px solid #d9d9d9;padding:20px 0;}
.news-list ul li .tit{}
.news-list ul li .tit h4{font-size: 20px;color:#333333;font-weight: normal;float: left;margin-bottom: 10px;}
.news-list ul li .tit h4:hover{color:#47abd5}
.news-list ul li .tit span{font-size: 14px;color:#999999;display: block;float: right;background:url(../images/icon_22.png) no-repeat left center;padding-left: 20px;}
.pics{margin-left: -10px;}
.pics a{display: block;float: left;width: 333px;height: 175px;margin-left: 10px;}
.pics a img{width: 333px;height: 175px;}




















