/**!
 * [页面名称]:河道信息
 * author: [chenxuan];
 */

.river-detail {
    position: absolute;
    top: 40px;
    right: 120px;
    width: 716px;
    height: 525px;
    background-color: #fff;
    z-index: 999;
}

.river-body {
    padding-top: 10px;
    padding-bottom: 35px;
    margin: 0 25px;
}

.river-hd a {
    margin-right: 25px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}

a.cur {
    color: #656eaa;
    border-bottom: 3px solid #656eaa;
}

.river-hd {
    height: 32px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
}


/* 河道信息表 */
.river-table {
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
}

.first-table {
    width: 100%;
    border:5px solid #f5f5f5;
}

.first-table td{
    height: 35px;
    line-height: 35px;
    border: 1px solid #e6e6e6;
}

.first-td,
.three-td {
    color: #999;
    text-align: right;
}

.first-td {
    width: 139px;
}

.three-td {
    width: 167px;
}

.second-td,
.four-td {
    color: #d6391c;
    text-indent: 9px;
}

.second-td {
    width: 187px;
}

.four-td {
    width: 158px;
}

.clospan3 {
    position: relative;
    text-indent: 9px;
}

.river-link {
    position: absolute;
    top: 1px;
    right: 15px;
    color: #656eaa;
    text-decoration: underline;
    cursor: pointer;
}

.clospan-span span {
    color: #d6391c;
    text-decoration: underline;
    padding-left: 9px;
    padding-right: 5px;
}


.pager .pageGro {
    width: 186px;
    margin: 14px auto 34px;
}