/**!
 * 海安县政务网详细
 * author: 陈轩;
 * date:2016-07-26;
 */

.ewb-row {
    min-height: 600px;
    padding: 0 15px;
    border: 1px solid #ddd;
}

.ewb-row.special {
    min-height: 300px;
}

.detail-tl {
    height: 36px;
    margin: 30px 0 20px 0;
    font-size: 24px;
    text-align: center;
}

.info-from {
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 30px;
    background-color: #eee;
    color: #999;
    font-family: SimSun;
    text-align: center;
}

.info-from>a {
    color: #999;
}

.info-from .fsize {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

.info-content {
    margin-top: 20px;
    line-height: 28px;
    font-family: SimSun;
}

.file-upload {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 35px;
    text-decoration: underline;
    color: blue;
}

.mb15 {
    margin-bottom: 15px;
}
.blue {
    color: blue;
    font-size: 16px;
}