/**!
 * [页面名称]
 * date:2016-01-01
 * author: [chengang];
 */
 .box {
    height: 60px;
 }
.download
{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    background: #0088cc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
   
}

.affix
{
    position: fixed;
    bottom: 0;
}

.affix-bottom
{
    position:relative;
    top:0 !important;
}


.affix-top
{
}