body,
input,
h1,
h2,
h3,
h4,
p,
textarea,
table,
div {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}

body {
    color: #333;
}

img {
    border: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    border: none;
}

a,
textarea,
button,
select,
input {
    outline: none;
}

textarea {
    resize: none
}

.auto {
    width: 1024px;
    margin: 0 auto;
}

.fs20 {
    font-size: 20px;
}

.fs16 {
    font-size: 16px;
}

.col3 {
    color: #333;
}

.col8 {
    color: #808080;
}

.btn {
    display: block;
    border-radius: 5px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none;
}


/**上**/

.login-zhuce {
    float: right;
}

.login-zhuce>span {
    display: inline-block;
    margin-top: 26px;
    padding: 2px 7px;
    color: #47abd5;
    cursor: pointer;
}

#login-per {
    padding-right: 10px;
    border-right: 1px solid #d9d9d9;
}

.top {
    width: 100%;
}

.top img {
    width: 100%;
}

.head {
    background: #fff;
}

.hd-t {
    height: 80px;
    padding-right: 5px;
}

.search {
    width: 410px;
    height: 40px;
    border: 1px solid #47abd5;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 44px;
}

.search input {
    border: none;
    border-radius: 10px;
}

.search .sec {
    width: 330px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: #cccccc;
}

.submit {
    width: 70px;
    height: 40px;
    background: url(../images/icon_01.png) no-repeat center;
}

.infor {
    padding-top: 23px;
    position: relative;
}

.infor img {
    width: 36px;
    height: 36px;
    margin-top: 1px;
    border-radius: 50%;
    float: left;
}

.infor span {
    height: 36px;
    line-height: 36px;
    display: block;
    padding-right: 10px;
    float: left;
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
    color: #47abd5;
    margin-left: 12px;
    cursor: pointer;
}

.login-name {
    max-width: 85px;
    overflow: hidden;
    margin: 0!important;
    padding: 0 3px!important;
}

.infor span.span1 {
    background: url(../images/icon_02.png) no-repeat right 18px;
    padding-left: 0!important;
}

.infor span.span2 {
    background: url(../images/icon_03.png) no-repeat left center;
    border-right: 1px solid #d9d9d9;
}

.infor span.span3 {
    background: url(../images/icon_04.png) no-repeat left center;
    border-right: 1px solid #d9d9d9;
}

.infor span.span4 {
    background: url(../images/zhuxiao-btn.png) no-repeat left center;
    padding-right: 4px;
}

.nav {
    background: url(../images/nav_bg.png) repeat-x center;
    border-top: 1px solid #d9d9d9;
    height: 46px;
    clear: both;
}

.nav a {
    display: block;
    width: 203.5px;
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 46px;
    float: left;
    border-left: 1px solid #d9d9d9;
}

.nav a:last-child {
    border-right: 1px solid #d9d9d9;
}

.nav-select {
    width: 100px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    position: absolute;
    padding: 5px 0;
    top: 60px;
    left: 25px;
    z-index: 999;
    background: #fff;
    display: none;
}

.nav-select span {
    background: url(../images/select_07.png) no-repeat top center;
    position: absolute;
    top: -5px;
    left: 25px;
    width: 8px;
    height: 5px;
}

.nav-select a {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 8px;
    color: #666;
}

.nav-select a img {
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

.nav-select a:hover {
    color: #47abd5
}

.infor span.span1:hover .nav-select {
    display: block;
}

.nav-cur {
    background: #46aad3;
    color: #fff!important;
}


/**下**/

.footer {
    width: 100%;
    height: 104px;
    background: #e4e4e4;
    padding-top: 20px;
}

.footer p {
    font-size: 12px;
    color: #808080;
    text-align: center;
    margin-bottom: 7px;
}

.footer span {
    width: 124px;
    height: 20px;
    font-size: 16px;
    color: #fff;
    background: #b3b3b3;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.posr {
    position: relative;
}

.posr img {
    position: absolute;
    right: 0;
    top: 0
}

.weixin {
    width: 110px;
    height: 175px;
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 1000;
}

.weixin span {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #808080;
    cursor: pointer;
}


/**登陆框**/

.login {
    width: 520px;
    height: 366px;
    padding-top: 40px;
    background: #fff;
}

.login div {
    text-align: center;
}

.login .lg-txt {
    color: #808080;
    font-size: 16px;
    margin-bottom: 15px;
}

.login .row {
    width: 285px;
    height: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin: 0 auto 10px;
}

.login .row .username,
.login .row .password {
    font-size: 16px;
    border: none;
    width: 275px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}

.login .last-row {
    margin-top: 25px;
}

.register .last-row .submit,
.login .last-row .submit {
    width: 285px;
    height: 37px;
    border: none;
    background: #47abd5;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font: 18px/34px Microsoft YaHei;
    cursor: pointer;
}

.register .last-row .submit {
    width: 335px;
    margin-top: 15px;
}

.login>p {
    width: 285px;
    margin: 0 auto;
}

.login>p a {
    color: #47abd5;
    font-size: 14px;
}

.login>p span {
    font-size: 14px;
    color: #666;
}


/**分页样式***/

.pagelist {
    height: 50px;
    padding: 25px 0 15px 0;
}

.pagelist li {
    padding: 0!important;
    border: 0!important;
}


/*****面包屑导航********/

.pos-nav {
    font-size: 14px;
    color: #333;
    height: 70px;
    line-height: 70px;
}

.pos-nav a {
    color: #999;
}


/******个人中心左侧树***********/

.con-l {
    width: 160px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}

.con-l li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    margin-bottom: -1px;
}

.con-l li a {
    font-size: 16px;
    color: #808080;
}

li.li1 {
    background: url(../images/per_icon1.png) no-repeat 20px 15px;
}

li.li2 {
    background: url(../images/per_icon1.png) no-repeat 20px -35px;
}

li.li3 {
    background: url(../images/per_icon1.png) no-repeat 20px -85px;
}

li.li4 {
    background: url(../images/per_icon1.png) no-repeat 20px -135px;
}

li.li5 {
    background: url(../images/per_icon1.png) no-repeat 20px -185px;
}

li.li6 {
    background: url(../images/per_icon1.png) no-repeat 20px -235px;
}

li.li7 {
    background: url(../images/per_icon1.png) no-repeat 20px -285px;
}

li.li8 {
    background: url(../images/per_icon1.png) no-repeat 20px -335px;
}

li.li9 {
    background: url(../images/per_icon1.png) no-repeat 20px -385px;
}

li.per-li-cur1 {
    background: url(../images/per_icon2.png) no-repeat 20px 15px !important;
}

li.per-li-cur2 {
    background: url(../images/per_icon2.png) no-repeat 20px -35px !important;
}

li.per-li-cur3 {
    background: url(../images/per_icon2.png) no-repeat 20px -85px !important;
}

li.per-li-cur4 {
    background: url(../images/per_icon2.png) no-repeat 20px -135px !important;
}

li.per-li-cur5 {
    background: url(../images/per_icon2.png) no-repeat 20px -185px !important;
}

li.per-li-cur6 {
    background: url(../images/per_icon2.png) no-repeat 20px -235px !important;
}

li.per-li-cur7 {
    background: url(../images/per_icon2.png) no-repeat 20px -285px !important;
}

li.per-li-cur8 {
    background: url(../images/per_icon2.png) no-repeat 20px -335px !important;
}

li.per-li-cur9 {
    background: url(../images/per_icon2.png) no-repeat 20px -385px !important;
}

.per-li-cur1 a,
.per-li-cur2 a,
.per-li-cur3 a,
.per-li-cur4 a,
.per-li-cur5 a,
.per-li-cur6 a,
.per-li-cur7 a,
.per-li-cur8 a,
.per-li-cur9 a {
    color: #47abd5!important
}


/***点赞收藏**/

a.like-cur {
    background: url(../images/icon_40.png) no-repeat -90px center!important;
}

a.store-cur {
    background: url(../images/icon_40.png) no-repeat -175px center!important;
}


/*注册*/

.register {
    padding-top: 10px;
    width: 605px;
    height: 490px;
}

.register div {
    text-align: center;
}

.register-title {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.register .row {
    width: 433px;
    margin: 18px auto 0 auto;
}

.register .div-line {
    height: 1px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #d9d9d9;
}

.register .row>label {
    float: left;
    width: 76px;
    font-size: 16px;
    line-height: 35px;
    text-align: right;
}

.register .row>input {
    float: right;
    width: 330px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #d9d9d9;
}

.register .row .code {
    float: left;
    width: 220px;
    margin-left: 15px;
}

.register .row .send-msg {
    float: right;
    width: 96px;
    height: 35px;
    color: #47abd5;
    font: 16px/32px Microsoft YaHei;
    text-align: center;
    border: 1px solid #47abd5;
    background-color: #fff;
    cursor: pointer;
}

.register .row .jinggao {
    color: #999;
    font-size: 12px;
    text-align: right;
}

.jinggao .blue {
    color: #47abd5;
}


/*评论页面*/
.form {
    padding-bottom: 40px;
    margin-top: 35px;
}

.form .row {
}

.form .l-txt {
    float: left;
    font-size: 16px;
    color: #333333;
    vertical-align: top;
    margin: 0 10px;
}

.form .detail {
    float: right;
    width: 905px;
    height: 178px;
    margin-right: 20px;
    border: 1px solid #b3b3b3;
    resize: none;
    padding: 5px;
}

.form .btn-bg1 {
    display: block;
    border-radius: 5px;
    background: #ff7533;
    color: #fff;
    float: right;
    width: 86px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    margin-right: 22px;
}