@charset "utf-8";
/* CSS Document */


em{font-style:normal;}

.content h2{font-size: 28px;color:#2d2d2d;font-weight: normal;text-align: center;margin:50px 0 20px;}
.content .info{width: 100%;text-align: center;position:relative;line-height: 25px;}
.info a{font-size: 14px;color:#47abd5;padding-left: 40px;margin-left: 25px;float: right;display:block;}
a.like{background:url(../images/icon_23.png) no-repeat -90px center;}
a.store{background:url(../images/icon_23.png) no-repeat -175px center;}



.dati-img{w:100%;height:auto;margin-top: 30px;}
.form-p{font-size: 14px;color:#2d2d2d;margin-top: 40px;}
.form .group{padding-left:20px;height: 70px;line-height: 70px;}
.form .form-radio{opacity:0;width: 16px;height: 16px;}
.form .input-group{margin-right: 75px;float: left;position:relative;}
.form .input-group .circle{width: 17px;height: 17px;background:url(../images/icon_39.png) no-repeat 0 center;display: block;position:absolute; top: 22px;left: -1px;    margin-top: 4px;}
.selected{background:url(../images/icon_39.png) no-repeat -166px center!important;}
.form-submit{width: 250px;height: 44px;background:#47abd5;font-size: 18px;color:#fff;display: block;border-radius:5px;border:none;margin:30px auto 25px;cursor:pointer;}


