@charset "utf-8";
/* CSS Document */


.news-banner img{width: 1022px;}

.life-menu{margin-right: -150px;margin-top: 40px;margin-bottom: 40px;}
.life-menu li{float: left;width: 140px;text-align: center;font-size: 14px;color:#666;margin-right: 150px;}
.life-menu li a{display:table-cell;}
.life-menu li img{vertical-align:middle;margin-right: 10px;}

.pics{margin-left: -20px;margin-bottom: 40px;}
.pics li{float: left;width: 500px;height: 200px;margin-left: 20px;margin-bottom: 20px;}
.pics li img{width: 500px;height: 200px;}











