@charset "utf-8";

/* CSS Document */

body {
    background: #f7f7f7;
}

.banner {
    position: relative;
}

.banner-float {
    overflow: hidden;
    width: 205px;
    height: 340px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    background: #f5f5f5;
}

.rili-top {
    background: #e5e5e5;
    height: 35px;
}

.rili-top span {
    font-size: 13px;
    color: #333;
    margin-left: 20px;
    line-height: 36px;
}

.rili-detail {
    background: url(../images/rili_bg.png) no-repeat bottom center;
    padding-bottom: 10px;
}

.rili-detail span {
    width: 81px;
    height: 75px;
    background: #ffbb00;
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 75px;
    border-radius: 10px;
    margin: 18px auto 0;
}

.rili-detail p {
    font-size: 13px;
    color: #808080;
    margin-top: 10px;
    text-align: center;
}

.tianqi {
    padding-top: 10px;
    padding-left: 32px;
}

.tianqi li {
    width: 90px;
    float: left;
    text-align: center;
    margin-top: 8px;
}

.tianqi li span {
    display: block;
    font-size: 12px;
    color: #808080;
}

.tianqi li b {
    font-size: 20px;
    color: #333333;
}

.section {
    margin-top: 5px;
    width: 490px;
}

.section .tit {
    height: 60px;
    line-height: 60px;
    background: url(../images/rili_bg.png) repeat-x bottom center;
}

.section .tit>a {
    color: #999;
    font-size: 12px;
    float: right;
}

.section .tit>a:hover {
    color: #47abd5;
}

.section .tit h1 {
    padding-left: 50px;
    color: #47abd5;
    font-size: 20px;
    font-weight: normal;
    float: left;
}

.news .tit h1 {
    background: url(../images/icon_06.png) no-repeat left center
}

.content .tab-nav {
    margin-bottom: 20px;
    margin-top: 15px;
}

.content .tab-nav a {
    width: 90px;
    height: 30px;
    display: block;
    background: #ededed;
    color: #47abd5;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    line-height: 30px;
    float: left;
}

.content .tab-nav>li {
    float: left;
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

.tab-cur {
    color: #fff!important;
    background: #47abd5!important;
    border: 1px solid #47abd5!important;
}

.detail .detail-t .left {
    width: 158px;
    height: 126px;
}

.detail .detail-t .left img {
    width: 158px;
    height: 126px;
}

.detail .detail-t .right {
    width: 295px;
}

.detail .detail-t .right li {
    width: 282px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
    background: url(../images/dotted2.png) left center no-repeat;
}
.right-list>ul>li {
    background-image: url(../images/dotted1.png)!important;
}
.detail .detail-t .right li a {
    font-size: 16px;
    color: #333;
}

.detail .detail-t .right p {
    font-size: 12px;
    color: #808080;
    line-height: 23px;
}

.detail-list {
    margin-top: 25px;
}

.detail-list ul li {
    color: #808080;
    font-size: 12px;
    margin-bottom: 13px;
    padding-left: 15px;
    background: url(../images/dotted1.png) left center no-repeat;
}

.detail-list ul li a {
    width: 380px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    color: #333333;
    font-size: 14px;
}

.detail-list ul li span {
    color: #808080;
    float: right;
    font-size: 14px;
}

.huodong .tit h1 {
    background: url(../images/icon_07.png) no-repeat left center
}

.right-list ul li {
    color: #808080;
    font-size: 12px;
    margin-bottom: 10px;
}

.right-list ul li a {
    width: 295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    font-size: 12px!important;
    color: #808080;
}

.shenghuo {
    margin-top: 10px;
}

.shenghuo .tit h1 {
    background: url(../images/icon_20.png) no-repeat left center
}

.shenghuo ul {
    background: url(../images/ul_bg.png) no-repeat bottom center;
    margin-top: 20px;
}

.shenghuo ul li {
    text-align: center;
    width: 160px;
    height: 58px;
    line-height: 58px;
    float: left;
}

.shenghuo ul li a {
    font-size: 14px;
    color: #808080
}

.shenghuo ul li img {
    vertical-align: middle;
}

.bianmin {
    width: 100%;
}

.bianmin .tit h1 {
    background: url(../images/icon_14.png) no-repeat left center;
}

.bianmin li {
    display: table-cell;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.bianmin li a {
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    margin: 4px;
    float: left;
}

.bianmin li img {
    margin-top: 13px;
    margin-left: 14px;
}

.bianmin span {
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    padding-left: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 22px;
}

.bianmin-icon {
    width: 315px;
    float: left;
    margin: 25px 10px 25px;
}

.bianmin-wrap {
    background: url(../images/index_bianmin_bg.png) no-repeat center;
    background-size: 100%;
    padding-bottom: 20px;
}

