@charset "utf-8";

/* CSS Document */

.con-r {
    width: 845px;
}

.h3 {
    font-size: 20px;
    color: #47abd5;
    margin-bottom: 10px;
    font-weight: normal;
}

.detail-wrap {
    border: 1px solid #d9d9d9;
    padding: 20px;
    width: 805px;
    margin-bottom: 30px;
}

.list .row {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.row .left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.row .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.row .left>span {
	overflow: hidden;
	display: block;
	text-align: center;
    width: 60px;
    height: 45px;
    color: #47abd5;
    text-align: left;
}

.right-t {
    margin-bottom: 5px;
}

.row .right {
    width: 725px;
}

.row span.lei {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #47abd5;
    margin-right: 20px;
}

.row a.title {
    font-size: 14px;
    color: #333;
    border: 1px solid #aeaeae;
    padding: 5px 50px 5px 15px;
    border-radius: 25px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
}

.row .right p {
    font-size: 14px;
    color: #333;
    line-height: 27px;
    margin-bottom: 15px;
    min-height: 58px;
    overflow: hidden;
}

.page {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 10px;
    padding-right: 20px;
}

.page span {
    padding: 30px 0;
    line-height: 30px;
}

.write-comment {
    height: 80px;
    line-height: 80px;
    padding: 0 20px 0 10px;
    color: #333;
    font-size: 18px;
}

.write-comment .btn-bg1 {
    margin-top: 30px;
}

.xing span {
    font-size: 14px;
    color: #999;
    margin-left: 20px;
    line-height: 0;
}

.xing span em {
    font-size: 24px;
    color: #47abd5!important;
}

.tit .xing {
    margin-top: 10px;
}

.xing {
    margin-right: 30px;
}

.xing li {
    background: url(../images/icon_25.png) no-repeat -20px center;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.xing li.none {
    display: none;
}
.xing li.cur {
    background: url(../images/icon_25.png) no-repeat 0 center;
}
