@charset "utf-8";

/* CSS Document */

em {
    font-style: normal;
}

.content {
    padding-bottom: 60px;
}

.content h2 {
    font-size: 28px;
    color: #2d2d2d;
    font-weight: normal;
    text-align: center;
    margin: 50px 0 20px;
}

.content .info {
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 25px;
}

.content .info span {
    font-size: 14px;
    color: #999;
    position: absolute;
    left: 50%;
    margin-left: -70px;
}
.info a {
    font-size: 14px;
    color: #47abd5;
    padding-left: 40px;
    margin-left: 25px;
    float: right;
    display: block;
    cursor: default;
}

#clicked a {
    cursor: pointer;
}
a.share {
    background: url(../images/share-img.png) no-repeat 7px 4px;
    cursor: pointer;
}
a.read {
    background: url(../images/icon_23.png) no-repeat 5px center;
}

a.like {
    background: url(../images/icon_23.png) no-repeat -90px center;
}

a.store {
    background: url(../images/icon_23.png) no-repeat -175px center;
}

.text {
    margin-top: 40px;
}

.text .info {
    margin-top: 35px;
}

.text p {
    font-size: 14px;
    color: #2d2d2d;
    line-height: 35px;
    text-indent: 2em;
}

.comment-list {
    margin-bottom: 30px;
    border-top: 5px solid #47abd5;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px 0 10px;
}

.tit span {
    margin-right: 10px;
}

.tit em {
    color: #ff7533;
}

.btn-bg1 {
    background: url(../images/icon_24.png) no-repeat 5px center #ff7533;
    color: #fff;
    float: right;
    padding-left: 30px;
    width: 55px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 14px;
}

.list .row {
    min-height: 90px;
    margin: 0 15px;
    padding: 20px 0 15px 0;
    border-bottom: 1px dashed #d9d9d9;
}

.row .left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.row .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 14px;
}

.right-t {
    margin-bottom: 5px;
}

.right {
    width: 900px;
    margin: 0 10px 0 20px;
}

.right a {
    color: #47abd5;
    text-align: left;
}

.right span {
    float: right;
}

.right p {
    font-size: 14px;
    color: #333;
    line-height: 27px;
}

.page {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}

.page span {
    padding: 30px 0;
    line-height: 30px;
}

.write-comment {
    height: 80px;
    line-height: 80px;
    padding: 0 20px 0 10px;
    color: #333;
    font-size: 18px;
}

.write-comment .btn-bg1 {
    margin-top: 30px;
}

.text .info-img {
	display: block;
	margin: 0 auto 20px auto;
}

/*视频*/
#CuPlayer {
    width: 1024px;
    padding: 40px 0;
}
