@charset "utf-8";
/* CSS Document */

/***文化详细信息****/
em{font-style:normal;}
.content{padding-bottom: 60px;}
.content h2{font-size: 28px;color:#2d2d2d;font-weight: normal;text-align: center;margin:50px 0 20px;}
.content .info{width: 100%;text-align: center;position:relative;line-height: 25px;}
.content .info span{font-size: 14px;color:#999;position:absolute;left:50%;margin-left:-70px;}
.info a{font-size: 14px;color:#47abd5;padding-left: 40px;margin-left: 25px;float: right;display:block;}
a.read{background:url(../images/icon_23.png) no-repeat 5px center;}
a.like{background:url(../images/icon_23.png) no-repeat -90px center;}
a.store{background:url(../images/icon_23.png) no-repeat -175px center;}

.text{margin-top: 40px;}
.text .info{margin-top: 35px;}
.text p{font-size: 14px;color:#2d2d2d;line-height: 35px;text-indent:2em;}


.comment-list{border-top:5px solid #47abd5;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.tit{height: 50px;line-height: 50px;border-bottom:1px solid #e6e6e6;padding:0 20px 0 10px;}
.tit span{margin-right: 10px;}
.tit em{color:#ff7533;}

.btn-bg1{background:url(../images/icon_24.png) no-repeat 5px center #ff7533;color:#fff;float: right;padding-left: 30px;width: 55px;height: 30px;line-height: 30px;margin-top: 10px;font-size: 14px;}

.list .row{height: 90px;margin-top: 40px;margin-bottom: 30px;}
.row .left{width: 50px;height: 50px;border-radius:50%;margin:0 10px;}
.row .left img{width: 50px;height: 50px;border-radius:50%;margin-top: 12px;}
.right-t{margin-bottom: 5px;}
.right{width: 910px;margin:0 20px;}
.right a{color:#47abd5;text-align: left;}
.right span{float: right;}
.right p{font-size: 14px;color:#333;line-height: 27px;height: 54px;overflow:hidden;}

.page{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding-left: 10px;padding-right: 20px;}
.page span{padding:30px 0;line-height: 30px;}

.write-comment{height: 80px;line-height: 80px;padding:0 20px 0 10px;color:#333;font-size: 18px;}
.write-comment .btn-bg1{margin-top: 30px;}