@charset "utf-8";
/* CSS Document */


.top-info{height: 280px;margin-top:40px;margin-bottom:20px;}
.top-info .left{width: 500px;height: 280px;}
.top-info .right{width: 500px;}
.top-info .right .tit{font-size: 30px;color:#333;margin:30px 0 20px 0;}
.xing{margin-right: 30px;}
.xing li{background:url(../images/icon_25.png) no-repeat -20px center;width:20px;height: 20px;float: left;    margin-top: 5px;}
.xing li.cur{background:url(../images/icon_25.png) no-repeat 0 center;}
.top-info .right .info span{font-size: 14px;color:#808080;border-right:1px solid #808080;margin-left: 30px;padding-right: 10px;margin-right: 25px;float: left;line-height: 30px;}
.top-info .right .info em{color:#ff7533;font-style:normal;}
.top-info .right .info .btn-bg1{float:left;margin-top:0;}

.contact .group{margin-top: 35px;    line-height: 30px;}
.contact span{padding-left: 30px;}
.contact .address{background:url(../images/icon_26.png) no-repeat 0 0;}
.contact .phone{background:url(../images/icon_26.png) no-repeat 0 -57px;}

.group a{font-size: 14px;color:#47abd5;padding-left: 40px;margin-left: 25px;float: right;display:block;}
a.like{background:url(../images/icon_23.png) no-repeat -90px center;}
a.store{background:url(../images/icon_23.png) no-repeat -175px center;}

.introduce .tit{margin-bottom: 35px;border-bottom:none!important;height:50px!important}
.article{padding:0 20px 25px 10px;}

.xing span{font-size: 14px;color:#999;margin-left:20px;line-height: 0;}
.xing span em{font-size: 24px;color:#47abd5!important;}
.tit .xing{margin-top: 10px;}
.comment-list{border-top:5px solid #47abd5;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;margin-bottom: 25px;}
.comment-list .tit{height: 115px;line-height: 50px;padding:0 20px 0 10px;border-bottom:1px solid #e6e6e6;}
.comment-list .tit span{margin-right: 10px;}
.comment-list .tit em{color:#ff7533;font-style:normal;}

.btn-bg1{background:url(../images/icon_24.png) no-repeat 5px center #ff7533;color:#fff;float: right;padding-left: 30px;width: 55px;height: 30px;line-height: 30px;margin-top: 10px;font-size: 14px;}

.list .row{height: 90px;margin-top: 40px;margin-bottom: 30px;}
.row .left{width: 50px;height: 50px;border-radius:50%;margin:0 10px;}
.row .left img{width: 50px;height: 50px;border-radius:50%;margin-top: 12px;}
.row .left a{color:#47abd5;text-align: left;}

.right-t{margin-bottom: 5px;}
.row .right{width: 910px;margin:0 20px;}

.row .right span{float: right;}
.row .right p{font-size: 14px;color:#333;line-height: 27px;height:54px;overflow:hidden;}

.page{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding-left: 10px;padding-right: 20px;}
.page span{padding:30px 0;line-height: 30px;}

.write-comment{height: 80px;line-height: 80px;padding:0 20px 0 10px;color:#333;font-size: 18px;}
.write-comment .btn-bg1{margin-top: 30px;}



/**切换**/
.slideshow {
	clear: both;
}
.slideshow li {
	position: relative;
	overflow: hidden;
}
.slideshow span.title {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	text-indent: 10px;
}

.slidebar li {
	float: left;
	margin-right: 1px;
	width: 20px;
	height: 5px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	font-size:0;
}


.slidebar {
	position: absolute;
	bottom:8px;
	right:25px
}
.slideshow span.title, .slidebar li {
	background:#fff;
	color: #FFF;
	overflow: hidden;
	margin-left:5px;
	width: 10px;height: 10px;
	border-radius:50%;
}
.slidebar li.on {background: #3cd5ff;}
.block {
	margin: 0;
	position: relative;
}
#frameHlicAe {
	margin: 0px !important;
	border: 0px !important;
}

.comiis_wrapad img {
	float: left;
	margin-top: 0px;
}
#slidesImgs li {
	display: none;
	width: 100%;
	height:auto;
}
